<%= stylesheet_link_tag 'homes' %>

<div class="row BGC">
  <h2>サービスについて</h2>
  <div class="col-sm-4 text_contents">

  </div>
  <div class="col-sm-4"></div>
  <div class="col-sm-4 img_contents">
    <img src="assets/" alt="">
    <img src="assets/" alt="">
    <img src="assets/" alt="">
  </div>
</div>
<div class="row BGC">
  <h2>製作者</h2>
  <div class="col-sm-4"></div>
  <div class="col-sm-4 img_contents">
    <img src="assets/Producer_img.jpg" alt="Producer_img">
  </div>
  <div class="col-sm-4 text_contents">

  </div>
</div>
