<%= stylesheet_link_tag 'homes' %>


<h1>利用規約</h1>
<div class="row BGC">
  <h2>本サービスについて</h2>
  <div class="col-sm-4 text_contents">

  </div>
</div>
<div class="row BGC">
  <h2>データの取り扱いについて</h2>
  <div class="col-sm-4 text_contents">

  </div>
</div>
<div class="row BGC">
  <h2>プライバシーについて</h2>
  <div class="col-sm-4 text_contents">

  </div>
</div>
